*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ---------- View Transitions ---------- */
@view-transition {
	navigation: auto;
}
::view-transition-group(root) {
	animation-duration: 1s;
}
::view-transition-old(root) {
    animation-name: scale-out;
    animation-duration: 1s;
}
::view-transition-new(root) {
    animation-name: slide-in;
    animation-delay: 0.1s;
    animation-duration: .5s;
}
header {
    view-transition-name: header;
}
.page-title {
    view-transition-name: title;
    animation-duration: 3s;
}
.page-subtitle {
    view-transition-name: subtitle;
    /* animation-duration: 3s; */
}

/* .content-section {
    view-transition-name: contentSection;
    animation-name: slide-in-up;
} */

/* ---------- View Transition Animation Keyframes ---------- */
@keyframes scale-in {
    from {
        scale: 0;
    }
}
@keyframes slide-in-up {
    from {
        opacity: 0;
        translate: 20vh;
    }
}
@keyframes scale-out {
    to {
        scale: 0;
        opacity: 0;
    }
}
@keyframes slide-in {
    from {
        translate: 100vw;
    }
}
@keyframes slide-out {
    to {
        translate: -100vw;
    }
}

/* ---------- Global Variables ---------- */
:root{
    /* Colors */
    --main-bg-color: #0f172a;
    --main-bg-color-alt: #171717;
    --light-bg-color: rgb(194, 204, 215);
    --light-fg-color: rgb(167, 177, 189);
    --main-text-color: #f1f1f1;
    --main-fg-color: #34383c;
    --main-accent-color: #6d76c5;
    --border-color: #6d76c530;
    --shadow-color: #6d76c530;
    --brand-color: #9d592f;
    --brand-color-light: #cb8152;
    --brand-color-dark: #5e351c;
    --icon-green: #32CD32;
    --icon-green-opaque: #32cd3240;
    --main-bg-gradient: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);

    /* Font Sizes */
    --font-xx-small: clamp(0.5rem, 0.5rem + 1vw, 0.7rem);
    --font-x-small: clamp(0.8rem, 0.8rem + 1vw, 1rem);
    --font-small: clamp(1rem, 1rem + 1vw, 1.25rem);
    --font-medium: clamp(1.25rem, 1.25rem + 1vw, 1.6rem);
    --font-large: clamp(1.4rem, 1.4rem + 2vw, 1.6rem);
    --font-x-large: clamp(1.6rem, 1.6rem + 2vw, 2.25rem);
    --font-xx-large: clamp(2rem, 1.8rem + 2vw, 4rem);
    --font-huge: clamp(2.5rem, 2.5rem + 2vw, 5rem);

    /* Spacing */
    --spacing: 1rem;
    --spacing-half: 0.5rem;
    --spacing-double: 2rem;
    --spacing-triple: 3rem;
    --spacing-quadruple: 4rem;

    /* Transitions */
    --transition: 0.3s ease-in-out;
    --transition-02: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
    --transition-cubic: cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.4s;

    /*Box Shadows */
    --shadow-bottom: 0px 6px 20px -6px rgba(0,0,0,0.6);
    --shadow-top: 0px -6px 20px -6px rgba(0,0,0,0.6);

    /* Dark mode */
    color-scheme: light dark;
}

:root, :host {
    --fa-style-family-classic: 'FontAwesome';
    --fa-font-solid: normal 900 1em/1 'FontAwesome';
    --fa-font-brand: normal 400 1em/1 'FontAwesome-brand';
  }
@font-face {
    font-family: Cairo;
    src: url(/Assets/Fonts/CairoPlay/CairoPlay-VariableFont_slnt\,wght.ttf);
}
@font-face {
    font-family: CairoPlay-variable-italic;
    src: url(/Assets/Fonts/CairoPlay/CairoPlay-VariableFont_slnt\,wght.ttf);
    font-style: italic;
}
@font-face {
    font-family: Jost;
    src: url(/Assets/Fonts/Jost/Jost-VariableFont_wght.ttf) format('truetype');
}
@font-face {
    font-family: Michroma;
    src: url(/Assets/Fonts/Michroma/Michroma-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'FontAwesome';
    font-style: normal;
    font-weight: 900;
    font-display: block;
    src: url("/Assets/Fonts/FontAwesome/fontawesome-free-6.7.2-web/webfonts/fa-solid-900.woff2");
  }
@font-face {
    font-family: 'FontAwesome-brand';
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url("/Assets/Fonts/FontAwesome/fontawesome-free-6.7.2-web/webfonts/fa-brands-400.woff2");
  }

html {
/* --- Main Scrollbar --- */
scroll-behavior: smooth;
background-color: var(--main-bg-color-alt);
/***** Scrollbar styling *****/
::-webkit-scrollbar {
    width: 4px;
    background-color: var(--border-color);
    border-radius: 10px;
	}
/* Track */
::-webkit-scrollbar-track {
    background-color: var(--shadow-color);
    border-radius: 10px;
	}
/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--main-accent-color);
    border-radius: 4px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background-color: var(--main-bg-color-alt);
}
}

/* ---------- Global Styles ---------- */
body {
    font-family: 'Cairo', sans-serif;
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    min-height: 100vh;
    transition: 0.3s ease-in-out;
}
h1 {
    font-family: 'Michroma', sans-serif;
    font-weight: 900;
    font-size: var(--font-xx-large);
    line-height: 1.1;
    letter-spacing: 2px;
    text-align: center;
}
h2 {
    font-family: 'Cairo', sans-serif;
    font-weight: 700;
    font-size: var(--font-x-large);
    line-height: 1.1;
    text-wrap: balance;
    /* max-width: 36ch; */
    text-align: center;
}
h3 {
    font-family: 'Cairo', sans-serif;
    font-weight: 500;
    font-size: var(--font-x-large);
    line-height: 1.3;
}
h4 {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: var(--font-large);
    line-height: 1.3; 
}
p {
    font-family: 'Cairo', sans-serif;
    font-weight: 400;
    font-size: var(--font-medium);
    max-width: 56ch;
    line-height: 1.2;
}
a {
    /* color: var(--main-accent-color); */
    text-decoration: none;
    font-weight: 500;
    &:hover {
        text-decoration: none;
    }
}

/* ---------- Theme Switcher ---------- */
.theme-switch {
    position: relative;
    display: none;
    justify-content: center;
    direction: rtl;
    box-shadow: inset 1px 1px 4px 3px rgba(0,0,0,0.5);
    border-radius: 100px;
    padding: 1px;
  }
#theme-checkbox {
display: none;
}
#theme-checkbox + label {
/* change the font-size below to change the size of the switch button*/
font-size: var(--small);
height: 1em;
width: 2.5em;
border-radius: 100px;
cursor: pointer;
display: flex;
justify-content: space-between;
background-color: var(--main-bg-color-alt);
opacity: 0.5;
position: relative;
}
#theme-checkbox:checked + label {
background-color: var(--shadow-color);
}
#theme-checkbox + label:active {
transform: scale(0.85);
transition: transform 0.2s;
}
#theme-checkbox + label div {
width: 0.8em;
height: 0.8em;
border-radius: inherit;
position: absolute;
top: 0.1em;
left: 0.1em;
z-index: 10;
transition: 0.5s cubic-bezier(1, 0.33, 0.11, 1.34);
background-color: var(--main-accent-color);
}
#theme-checkbox:checked + label div {
/* left: calc(2.5em - .8em - .1em); */
left: 1.6em;
background-color: var(--main-bg-color-alt);
}
#theme-checkbox + label span {
display: flex;
padding-top: 1px;
}
#theme-checkbox + label svg {
display: inline-block;
height: 1em;
width: 1em;
padding: 0.15em;
box-sizing: border-box;
}
#theme-checkbox + label span:first-of-type {
color: var(--icon-green);
}
#theme-checkbox + label span:last-of-type {
color: var(--main-bg-color-alt);
}

/* Social Box */
.socials-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 200px;
    width: 300px;
    align-items: center;
    /* outline: 1px solid var(--border-color); */
  }
  .trapdoor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateZ(0px);
    transform: translateZ(0px);
    width: 200px;
    height: 60px;
    box-shadow: inset -7px 0px 12px -8px rgba(0,0,0,0.3), inset 7px 0px 12px -8px rgba(0,0,0,0.3);
    border-radius: 6px;
    -webkit-transition: all 400ms ease-in-out;
    -moz-transition: all 400ms ease-in-out;
    -ms-transition: all 400ms ease-in-out;
    -o-transition: all 400ms ease-in-out;
    transition: all 400ms ease-in-out;
    &:hover {
      background-color: var(--shadow-color);
      height: 100%;
      padding-block: var(--spacing);
      &::after {
        animation: none;
        opacity: 0;
      }
      & .door {
         box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.8);
         -webkit-transform: scale(1.08);
         -moz-transform: scale(1.08);
         -ms-transform: scale(1.08);
         -o-transform: scale(1.08);
         transform: scale(1.08);
      }
     .top {
        top: -42%;
        border: none;
        &::before {
            top: 72%;
            opacity: 0.5;
        } 
      }
      .bottom {
        top: 90%;
        border: none;
        &::before {
            top: -28%;
            opacity: 0.5;
        } 
      }
      & .button-container {
            opacity: 1;
            scale: 1;
            transition: scale var(--transition-cubic);
      }
    }
    /* inner follow links */
    .button-container {
        /* position: relative; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90%;
        width: 90%;
        opacity: 0;
        scale: 0;
        /* transition: scale var(--transition-cubic); */
        /* outline: 1px solid red; */
    }
    .social-btn {
        width: 100%;
        padding-inline: 8px;
        & a {
            color: inherit;
            scale: 1;
            filter: drop-shadow(5px 5px 10px rgba(0,0,0,1));
            transition: all 0.3s;
            &:hover {
                color: var(--main-text-color);
                opacity: 1;
        }
    }
  }
  }
  .trapdoor::after {
    content: '';
    border-radius: 10px;
    border: 2px solid var(--border-color);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
    pointer-events: none;
  }
  .top {
    top: 0%;
    left: 0px;
    border-radius: 6px 6px 0 0;
    border: 1px solid var(--border-color);
    border-bottom: 0;
    &::before {
        display: flex;
        top: 55%;
        transition: all 400ms ease-in-out;
    }
  }
  .bottom {
    top: 50%;
    left: 0px;
    border-radius: 0 0 6px 6px;
    border: 1px solid var(--border-color);
    border-top: 0;
    &::before {
        display: flex;
        top: -45%;
        transition: all 400ms ease-in-out;
    }
  }
  .door {
    -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
    -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
    -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
    -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
    transition: top 400ms, box-shadow 200ms, transform 300ms;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -ms-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    background-color: var(--main-bg-color);
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 2;
    height: 50%;
    &::before {
        display: flex;
        justify-content: center;
        /* content: "socials" " " "\f1e0";
        font: var(--fa-font-solid);
        font-weight: 900; */
        /* content: "/f1e0"; */
        /* font: var(--fa-font-solid); */
        /* font-weight: 900; */
        content: "Connect with me...";
        font-weight: 400;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        font-size: 16px;
        color: var(--main-accent-color);
        width: 100%;        
    }
  }

/* --------- DARK MODE ........... */
.darkmode {
    color: var(--main-text-color);
    background: none;
    .has-overlay {
        border-image: fill 1 linear-gradient(0deg, rgba(23,23,23,0.9) 0%, rgba(23,23,23,0.9) 67%);
        transition: 0.3s ease-in-out;
    }
    h1, h3 {
        color: var(--main-accent-color);
    }
    /* Dark Mode Header */
    header {
        box-shadow: none;
        .logo-text {
            color: var(--brand-color-light);
        }
        .nav-link-main {
            color: var(--main-accent-color);
            opacity: 1;
            border: 1px solid transparent;
        }
    }
    .nav-bar {
        background-color: transparent!important;
    }
    /* Dark Mode Buttons */
    .button.hire-btn {
        &:hover {
            &::before {
                background-color: var(--main-accent-color);
                color: var(--main-bg-color-alt);
            }
            &::after {
                z-index: -1;
                animation: ring-btn 1.5s infinite;
                border: 1px solid var(--main-accent-color);
            }
        }
    }
    /* Dark Mode Services */
    .content-section {
        background-color: var(--main-bg-color-alt);
    }
    .service-name {
        display: flex;
        flex-direction: column;
        gap: 0;
        h3 {
            color: var(--main-accent-color);
        }
        p strong {
            color: var(--main-text-color)!important;
        }
    }
    .cta-section {
        color: var(--main-accent-color);
        background-color: var(--shadow-color);
    }
    /* Dark Mode Form / Contact */
    form {
        background-color: var(--shadow-color);
    }
    input, textarea {
        background-color: var(--main-bg-color-alt);
    }
    input::placeholder, textarea::placeholder {
        font-weight: 100;
        opacity: 0.5;
        color: var(--main-text-color);
      }
    
}

/* ---------- LIGHT MODE/DEFAULT ---------- */
body{
    color: var(--main-bg-color);
    background: var(--main-bg-gradient);
}

/*  Light Mode Header  */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: var(--spacing-half);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: var(--shadow-color);
    backdrop-filter: blur(30px);
    box-shadow: var(--shadow-bottom);
    transition: var(--transition);
    .header-container {
        nav {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 0;
            width: 95vw;
            .logo-switch-container {
                display: flex;
                align-items: center;
                /* width: 65vw; */
                scale: 1;
                gap: var(--spacing);
            }
            .page-nav {
                display: flex;
                align-items: center;
                gap: var(--spacing);
                justify-content: flex-end;
                .nav-row {
                    /* display: none; */
                    width: 100%;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: center;
                    gap: var(--spacing-half);
                    overflow: hidden;
                    .nav-bar {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        padding: 2px 0;
                        border-right: 1px solid var(--shadow-color);
                        transform: translateX(100%);
                        opacity: 0;
                        transition: all var(--transition-cubic);
                        z-index: -1;
                        background-color: var(--shadow-color);
                        .nav-link {
                            list-style: none;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            border-left: 1px solid var(--shadow-color);
                            padding-inline: 2px;
                            cursor: pointer;
                            a {
                                font-size: var(--font-x-small);
                                padding-inline: var(--spacing);
                                border-radius: 4px;
                                transition: all var(--transition-02);
                                color: var(--main-text-color);
                                text-transform: lowercase;
                                font-weight: 300;
                                line-height: 2;
                                cursor: pointer;
                                &:hover {
                                    text-decoration: none;
                                    background-color: var(--main-bg-color);
                                }
                            }
                        }
                    }
                    .nav-link-main {
                        font-size: var(--font-small);
                        color: var(--main-bg-color-alt);
                        font-weight: 800;
                        transition: color .2s ease-in-out;
                        text-transform: lowercase;
                        opacity: 0.8;
                        padding-inline: 4px;
                        border: 1px solid transparent;
                        border-radius: 4px;
                        transition: all .2s ease;
                        background-color: var(--border-color);
                        z-index: 1;
                        &:hover {
                            background-color: var(--main-bg-color-alt);
                        }
                    }
                }
                .open-icon-container {
                    display: flex;
                    transition: all 1s;
                    .modal-open {
                        position: relative;
                        width: 40px;
                        height: 40px;
                        border: 1px solid transparent;
                        /* margin-top: 8px; */
                        transition: var(--transition);
                        overflow: hidden;
                        transition: 0.3s ease-in-out;
                    }
                }
                .tooltiptext {
                    visibility: hidden;
                    transform: translateX(100%);
                    width: max-content;
                    background-color: black;
                    font-size: var(--font-xx-small);
                    color: #fff;
                    text-align: center;
                    border-radius: 6px;
                    padding: 5px 12px;
                    position: absolute;
                    right: 0;
                    bottom: -30px;
                    transition: var(--transition-02);
                    transition-delay: 0.5s;
                    & strong {
                        font-size: var(--font-x-small);
                    }
                }
                &:hover {
                    .nav-bar {
                        transform: translateX(0);
                        opacity: 1;
                        z-index: 0;
                    }
                    .nav-link-main {
                        color: var(--main-accent-color);
                        opacity: 1;
                        border: 1px solid var(--border-color);
                    }
                    .tooltiptext {
                        visibility: visible;
                        transform: translateX(0);
                    }
                    .open-icon-container {
                        display: flex;
                        transform: rotateY(180deg);
                        transition: all 1s;
                    }
                    .modal-open {
                        cursor: pointer;
                        border: 1px solid var(--border-color);
                        border-radius: 100%;
                        transform: translateX(-2px);
                        background-color: var(--border-color);
                        animation: h-bounce 1.3s ease-in-out infinite alternate;
                        transition: all 0.3s ease-in-out;
                    }
                }
            }
            .modal {
                display: block;
                position: fixed;
                height: 100vh;
                width: 100vw;
                top: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.8);
                z-index: 1000;
                backdrop-filter: blur(20px);
                transform: translateX(100%);
                transition: var(--transition);
                .modal-content {
                    display: block;
                    position: fixed;
                    top: 0;
                    right: 0;
                    width: 80%;
                    height: 100%;
                    background-color: rgba(0, 0, 0, 1);
                    padding: var(--spacing);
                    .modal-header {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: var(--spacing);
                        border-bottom: 1px solid var(--border-color);
                        .modal-close {
                            position: relative;
                            width: 40px;
                            height: 40px;
                            border: 1px solid transparent;
                            /* margin-top: 8px; */
                            transition: var(--transition);
                            overflow: hidden;
                            transition: 0.3s ease-in-out;
                        }
                    }
                    .modal-body {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: var(--spacing);
                        padding-inline: var(--spacing);
                        .modal-list li {
                            display: flex;
                            align-items: center;
                            gap: var(--spacing-half);
                            list-style: none;
                            margin-block: var(--spacing-double);
                            .modal-icon {
    width: 1.6em;
    height: 1.6em;
}
                            & a {
                                width: 80%;
                                display: flex;
                                color: var(--main-text-color);
                                font-size: var(--large);
                                padding: 4px 12px;
                                border: 1px solid transparent;
                                border-radius: 10px;
                                &:hover {
                                    border: 1px solid var(--border-color);
                                    border-radius: 10px;
                                    /* transform: translateX(2px); */
                                    background-color: var(--main-bg-color);
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
            .modal.visible {
                transform: translateX(0);
            }
        }
    }
    
}

.site-logo {
    width: 2.5rem;
    transition: all 0.5s ease-in-out;
}
.logo-text {
    font-family: 'Michroma', sans-serif;
    font-size: var(--font-small);
    color: var(--brand-color-light);
    padding-bottom: 4px;
    transition: all 0.7s;
    text-shadow: none;
    padding-left: var(--spacing-half);
    border-left: 1px solid var(--border-color);
}
.logo-title {
    display: flex;
    align-items: center;
    gap: var(--spacing-half);
    &:hover {
        .site-logo {
            transform: rotate(180deg);
            transition: all 0.7s;
        };
        .logo-text {
            transform: translateX(-2px);
            padding-left: 6px;
            transition: all 0.7s;
            color: var(--brand-color);
            text-decoration: none;
        }
    }
}

/* Main Pages Content Styles */
.content-wrapper {
    margin: 0;
    padding: 0;
/* ---------- Home/Index Page ----------- */
    .hero-container {
        background-image: url('/Assets/Images/Backgrounds/HeroBG.png');
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        padding-inline: var(--spacing-half);
        padding: 0;
        .hero-blur {
            display: flex;
            min-height: 100vh;
            backdrop-filter: blur(6px);
            flex-direction: column;
            justify-content: center;
            align-items: center;
            & .hero-content{
                width: 100%;
                padding-block: var(--spacing-triple);
                .hero-content-section {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    text-align: center;
                    gap: var(--spacing);
                    text-wrap: balance;
                }
                & h1 {
                    font-size: 8vw;
                }
            }
        }
    }
    .cta-wrapper-index {
        width: 100%;
        .cta-section-index {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-block: 10vh;
            text-align: center;
            color: var(--main-accent-color);
            background-color: var(--light-bg-color);
        }
    }

/* ---------- Services Page ---------- */
    .services-container, .webdev-container, .wordpress-container, .mobile_app-container, .seo-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        min-height: 100vh;
        text-align: center;
        padding-block: var(--spacing-double);
    }
    .content-section {
        position: relative;
        z-index: 2;
        width: 100%;
        text-align: center;
        background-color: var(--light-bg-color);
        box-shadow: var(--shadow-bottom);
        padding-bottom: var(--spacing-quadruple);
        .section-title {
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            padding-block: var(--spacing-quadruple);
            overflow: hidden;
            z-index: 3;
            text-wrap: balance;
            &::before {
                position: absolute;
                left: -100px;
                content: "";
                font-weight: 900;
                -webkit-font-smoothing: antialiased;
                color: var(--border-color);
                opacity: 0.6;
            }
        }
        .grid-layout {
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(360px, 1fr) );
            justify-content: center;
            width: 100%;
            max-width: 900px;
            padding-inline: var(--spacing-half);
            gap: var(--spacing);
            .service-card {
                position: relative;
                --card-padding: 1.5rem;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                border-radius: var(--spacing);
                text-align: left;
                background-color: var(--border-color);
                box-shadow: var(--shadow-bottom);
                transition: all 300ms ease-out;
                overflow: hidden;
                cursor: pointer;
                & img {
                    position: absolute;
                    height: 100%;
                    width: 100%;
                    top: 0;
                    transition: scale 500ms ease-out;
                }
                .card-content {
                    background: linear-gradient(90deg, black, black);
                    padding: var(--spacing);
                    height: 15em;
                    transition: transform 500ms ease-in-out;
                }
                & .service-name {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: var(--spacing);
                    .card-title {
                        position: relative;
                        display: flex;
                        width: 100%;
                        text-indent: var(--spacing-quadruple);
                        white-space: nowrap;
                        font-size: var(--font-large);
                        color: var(--main-accent-color);
                        padding-bottom: 6px;
                        transition: text-indent 700ms ease;
                        &::after {
                            content: '';
                            position: absolute;
                            left: calc(var(--card-padding) * -1);
                            bottom: 0;
                            height: 4px;
                            width: 100%;
                            background: var(--brand-color);
                            transform-origin: left;
                            transition: transform 500ms ease;
                            transition-delay: 200ms;
                        }
                    }
                    p.strong {
                        font-size: var(--font-medium)!important;
                        font-weight: 400;
                        line-height: 1;
                        font-style: normal;
                    }
                }    
                p {
                    color: var(--main-text-color);
                    font-size: var(--font-small);
                    font-weight: 300;
                    letter-spacing: 1px;
                    margin-top: var(--spacing-double);
                    margin-bottom: var(--spacing-double);
                }
                @media (hover) {
                    .card-content {
                        transform: translateY(80%);
                        transition: transform 300ms ease-out;
                    }
                    .card-content > *:not(:nth-child(1)) {
                        opacity: 0;
                        transform: translateY(10px);
                        transition: all 300ms ease-out;
                    }
                    .service-name {
                        & h3 {
                            &::after {
                                transform: scaleX(0);
                            }
                        }
                    }
                }
                &:hover, :focus-within {
                    & img {
                        scale: 1.05;
                    }
                    & .card-title {
                        text-indent: 0;
                        transition: all 500ms ease;
                    }
                    & h3::after {
                        transform: scaleX(1);
                    }
                    .card-content {
                        background: linear-gradient(90deg, black, transparent);
                        transform: translateY(0);
                    }
                    .card-content > * {
                        transform: translateY(0);
                        opacity: 1;
                        transition-duration: 1000ms;
                    }
                }
            }
        }
    }
    .cta-wrapper {
        height: 300vh;
        width: 100%;
        margin-block: -100vh;
        .cta-section {
            position: sticky;
            top: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 100%;
            padding-block: 10vh;
            text-align: center;
            color: var(--main-accent-color);
        }
    }
    .cta-wrapper-last {
        height: 200vh;
        width: 100%;
        margin-top: -100vh;
    }
    .section-title.webdev-title {
        &::before {
            content: "\f5fc";
            font: var(--fa-font-solid);
            font-weight: 900;
            font-size: 12em;
        }
    }
    .section-title.wordpress-title {
        &::before {
            content: "\f19a";
            font: var(--fa-font-brand);
            font-weight: 900;
            font-size: 12em;
        }
    }
    .section-title.mobile_app-title {
        &::before {
            content: "\f36f";
            font: var(--fa-font-brand);
            font-weight: 900;
            font-size: 12em;
        }
    }
    .section-title.seo-title {
        &::before {
            content: "\f1a0";
            font: var(--fa-font-brand);
            font-weight: 900;
            font-size: 12em;
        }
    }
    .headings-group {
        display: flex;
        flex-direction: column;
        margin-top: var(--spacing);
        gap: var(--spacing-double);
        padding-inline: var(--spacing-half);
        & h4 {
            background-color: var(--main-bg-gradient);
        }
    }
}
/* End of Pages Content Styles */

/*  Contact Page / Form  */   
.form-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-double);
    padding: var(--spacing-half);
    text-align: center;
    & h1 {
        margin-top: var(--spacing-quadruple);
    }
    /* ---------- Form ---------- */
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: var(--spacing);
        background-color: var(--shadow-color);
        backdrop-filter: blur(20px);
        border: 1px solid var(--border-color);
        border-radius: 6px;
        max-width: 800px;
        -webkit-box-shadow: var(--shadow-bottom);
        -moz-box-shadow: var(--shadow-bottom);
        box-shadow: var(--shadow-bottom);
        input, textarea {
            background-color: var(--shadow-color);
        }
        .form-row {
            display: flex;
            gap: var(--spacing);
            margin-top: var(--spacing-half);
            margin-bottom: var(--spacing);
            width: 100%;
            .form-group {
                display: flex;
                flex-direction: column;
                width: 100%;
                position: relative;
                &:has(input:user-valid) {
                    input {
                        outline: 1px solid var(--icon-green);
                        background-color: var(--icon-green-opaque);
                    }
                    &::after {
                        content: "✓";
                        position: absolute;
                        display: flex;
                        right: 4px;
                        top: 14%;
                        /* bottom: 50%; */
                        width: 22px;
                        height: 22px;
                        border: 1px solid;
                        border-radius: 50px;
                        background-color: #32CD32;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                }
                &:has(input:user-invalid) {
                    input {
                        outline: 1px solid red;
                        background-color: rgba(255, 0, 0, 0.26);
                    }
                    &::after {
                        content: "✕";
                        position: absolute;
                        display: flex;
                        right: 4px;
                        top: 12%;
                        /* bottom: 50%; */
                        width: 22px;
                        height: 22px;
                        border: 1px solid;
                        border-radius: 50px;
                        background-color: rgba(255, 0, 0, 0.747);
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                    }
                }
                & label {
                    padding: 0;
                    text-align: left;
                    /* height: 16px; */
                }
            }
        }
        .form-group.selection {
            flex-direction: column;
            width: 100%;
            justify-content: center;
            align-items: center;
            gap: var(--spacing);
            & select {
                width: 100%;
                font-size: 1.2rem;
                background-color: var(--main-bg-color-alt);
                padding: 4px;
                color: var(--main-text-color);
                border-radius: 6px;
                outline: none;
                border: none;
            }
        }
        input[type="text"], input[type="url"], input[type="email"] {
            width: 100%;
        }
        input, textarea {
            min-height: 2em;
            padding: 2px 6px;
            font-family: 'Michroma', sans-serif;
            font-size: 1rem;
            color: var(--main-bg-color);
            box-sizing: border-box;
            border: 1px solid var(--border-color);
            border-radius: 5px;
          }
          input::placeholder, textarea::placeholder {
            font-weight: bold;
            opacity: 0.5;
            color: var(--main-bg-color);
          }
        input:focus, textarea:focus {
            outline-style: solid;
            outline-color: var(--brand-color);
          }
        textarea {
            vertical-align: top;
            height: 12em;
            width: 100%;
            padding-block: var(--spacing-half);
          }
    }
}

/* ---------- Footer ---------- */
.footer-wrapper {
    footer {
        position: sticky;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: var(--spacing-half);
        background-color: var(--main-bg-color-alt);
        box-shadow: var(--shadow-top);
        z-index: 3;
        .logo-text {
            color: var(--brand-color);
        }
        .standard-layout {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 100%;
        }
        .mobile-layout {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            width: 100%;
            .footer-socials, .footer-links {
                display: none;
            }
            .footer-site-logo {
                width: 100%;
            }
        }
        .footer-site-logo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            /* width: 60%; */
            gap: var(--spacing-half);
            scale: 1;
        }
        .footer-links {
            /* flex-direction: column; */
            width: 10%;
            column-count: 2;
            gap: 0;
            & a {
                font-size: 12px;
            }
        }
        .footer-socials {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
            gap: var(--spacing);
            width: 10%;
            & a {
                width: 1.6rem;
                height: 1.6rem;
                color: var(--main-accent-color);
                opacity: 0.6;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-inline: auto;
                padding: 4px;
                &#facebook {
                    &::before {
                        content: "\f09a";
                        font: var(--fa-font-brand);
                        font-weight: 900;
                    };
                }
                &#instagram {
                    &::before {
                        content: "\f16d";
                        font: var(--fa-font-brand);
                        font-weight: 900;
                    };
                }
                &#github {
                    &::before {
                        content: "\f09b";
                        font: var(--fa-font-brand);
                        font-weight: 900;
                    };
                };
                &#xcom {
                    &::before {
                        content: "\e61b";
                        font: var(--fa-font-brand);
                        font-weight: 900;
                    };   
                };
                &#linkedin {
                    &::before {
                        content: "\f08c";
                        font: var(--fa-font-brand);
                        font-weight: 900;
                    };   
                };
                &#telegram {
                    &::before {
                        content: "\f2c6";
                        font: var(--fa-font-brand);
                        font-weight: 900;
                    };   
                };
                &:hover {
                    color: var(--main-text-color);
                }
            }
        }
        .copyright-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
        .copyright {
            font-size: 12px;
            color: var(--main-accent-color);
            text-align: center;
            font-weight: 500;
            opacity: 0.4;
            & span {
                font-size: 12px;
            }
        }
        .scroll-to-top-container {
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            bottom: -80px;
            right: 10px;
            z-index: 3;
            transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.7s;
            &:hover {
                scale: 1.05;
            }
            .scroll-to-top {
                width: 2.5em;
                background-color: var(--main-bg-color-alt);
                padding: var(--spacing-half);
                border-radius: 100%;
                z-index: 3;
            }
        }
    }
}






/* ---------- MEDIA QUERIES ----------*/
@media (min-width: 768px) {
    .logo-switch-container {
        width: 35vw!important;
        /* scale: 0.8!important; */
    }
    .nav-row {
        display: flex;
    }
    /* .theme-switch {
        display: flex;
    } */
    .page-nav {
        width: 70vw;
    }
}
@media (min-width: 900px) {
    .theme-switch {
        display: flex;
    }
    .page-nav {
        width: 80vw;
    }
}
@media (max-width: 872px) {
    .page-nav {
        width: 30vw;
    }
    .nav-bar {
        display: none;
    }
    .footer-links {
        width: 15%;
    }
    .footer-socials {
        width: 15%;
    }
    .footer-site-logo {
        scale: 0.6;
    }
}
@media (max-width: 630px) {
    .form-row {
        flex-direction: column;
    }
    .trapdoor {
        scale: 0.8;
    }
}
@media (max-width: 600px) {
    .footer {
        .standard-layout {
            .footer-links, .footer-socials {
                display: none;
            }
        }
    }
}

/* @media (min-width: 600px) {
    .footer-content { grid-template-columns: 25% 50% 25%; }
  } */
/* @media (min-width: 934px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
    }
    form {
        max-width: 650px;
    }
} */





