<footer class="footer">
    <div class="footer-site-logo">
        <a href="/" class="logo-title">
            <img class="site-logo" src="/Assets/Images/JDLogoSpin.png" alt="James Dennis Logo">
            <p class="logo-text">james dennis</p> 
        </a>
    </div>
    <div class="contact-row">
        <div class="contact-box availability">
            <h3>Available:</h3>
            <p><span id="datetime"></span></p>
        </div>
        <div class="contact-box contact">
            <h3>Contact:</h3>
            <p><a href="mailto:james@jamesdennis.org">james@jamesdennis.org</a></p>
        </div>
        <div class="contact-box copyright">
            <h3>Copyright:</h3>
            <p>jamesdennis &copy <span><script>document.write(new Date().getFullYear())</script></span></p>
        </div>
    </div>
    <!-- Scroll To Top -->
    <div class="scroll-to-top-container" id="toTop">
        <a href="#top" onclick="lenis.scrollTo('#top')">
            <img class="scroll-to-top" src="/Assets/Fonts/Material-icons/Blue/vertical_align_top_30dp_0074A2_FILL0_wght400_GRAD0_opsz24.png" alt="scroll to top">
        </a>  
    </div>
</footer>