<div class="loader-container">
            <h3 class="load-text" style="position: fixed; top: 50%; width: 100%; display: none; place-items: center; margin-inline: auto">jamesdennis.org</h3>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
            <div class="bar" style="width: 5vw; height: 105vh; background-color: var(--color-accent);"></div>
        </div>