*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cairo', sans-serif;
  background-color: rgba(79,209,197,.64);
  display: grid;
  place-content: center;
  min-height: 100vh;
}

.container {
  width: 100%;
  min-height: 100vh;
  padding: 2em;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
.button {
  /* width: 6em; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 4px 12px;
  &:hover {
    translate: 0 4px;
    background: linear-gradient(180deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .64);
  }
  }

/* .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  } */

  /* @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 160%;
      height: 200%;
      opacity: 0;
    }
  } */



  /* Cube Container  */
  .cube-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* outline: 1px solid red; */
  }
  .cube-container {
    display: flex;
    flex-direction: column;
    perspective: 1000px; /* needed for 3D effects */
    --cube-size: 300px;
    width: var(--cube-size);
    height: var(--cube-size);
    margin-block: 4em;
    outline: 1px solid;
  }
  .button-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  outline: 1px solid;
}
  .cube {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; /* required for 3D effects */
    transform: rotateX(-20deg) rotateY(20deg);
    transition: transform 850ms cubic-bezier(1, -.75, 0.5, 1.2);
    
    /* Turn the Cube */
    /* transform: rotateX(-180deg); */
    /* transform: rotateY(0deg); */
  }

  /* Faces */
  .face {
    position: absolute;
    width: var(--cube-size);
    height: var(--cube-size);
    border: 1px solid darkgray;
    box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.1);
    line-height: var(--cube-size);
    text-align: center;
    font-size: 1.25rem;
    background-color: rgba(142, 142, 142, 0.8);
  }
  .front-face {
      transform: translateZ(150px);
    }
  .back-face {
    transform: rotateY(180deg) translateZ(150px);
  }
  .top-face {
    transform: rotateX(90deg) translateZ(150px);
  }
  .right-face {
    transform: rotateY(90deg) translateZ(150px);
  }
  .left-face {
    transform: rotateY(-90deg) translateZ(150px);
  }
  .bottom-face {
    transform: rotateX(-90deg) translateZ(150px);
  }


.hide-show-content {
    display: none;
  }
#back-face:checked ~ .cube-container .cube {
  transform: rotateY(180deg);
}
#left-face:checked ~ .cube-container .cube {
  transform: rotateY(90deg);
}
#right-face:checked ~ .cube-container .cube {
  transform: rotateY(-90deg);
}
#top-face:checked ~ .cube-container .cube {
  transform: rotateX(-90deg);
}
#bottom-face:checked ~ .cube-container .cube {
  transform: rotateX(90deg);
}
#front-face:checked ~ .cube-container .cube {
  transform: rotateX(-20deg) rotateY(20deg);
}
  
  /* Buttons */

