*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --cube-width: 200px;
  --translateZ: 100px;
}
body {
  font-family: 'Cairo', sans-serif;
  min-height: 100vh;
  padding: 1em;
}

.button-wrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
  }
  
.button {
  /* width: 6em; */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #313133;
  background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, .64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 4px 12px;
  &:hover {
    translate: 0 4px;
    background: linear-gradient(180deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .64);
  }
  }

/* .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 10px;
    border: 2px solid var(--border-color);
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  } */

/* @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 160%;
      height: 200%;
      opacity: 0;
    }
  } */

@keyframes spin-cube {
  0% {
    transform: rotateX(-20deg) rotateY(20deg);
  }
  25% {
    transform: rotateX(-20deg) rotateY(110deg);
  }
  50% {
    transform: rotateX(-20deg) rotateY(200deg);
  }
  75% {
    transform: rotateX(-20deg) rotateY(290deg);
  }
  100% {
    transform: rotateX(-20deg) rotateY(380deg);
  }
}

/* Cube Container  */
/* .button-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 1rem;
outline: 1px solid;
} */


.cube-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: 3em;
  align-items: center;
  outline: 1px solid blue;
}
.cube-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  perspective: 1000px;
  margin-block: 4em;
  .cube {
    width: var(--cube-width);
    height: var(--cube-width);
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(20deg);
    animation: spin-cube 10s linear infinite;
    /* transition: transform .3s ease; */
  }
}
.cube-title {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Faces */
.face {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--cube-width);
  height: var(--cube-width);
  box-shadow: inset 0 0 60px rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2.25rem;
  padding: .5em;
  color: antiquewhite;
}
.front-face {
  background: url(/Assets/Images/Backgrounds/MainBG2.jpg);
  background-size: cover;
  /* background-color: pink; */
  /* color: #4099FF; */
  transform: translateZ(var(--translateZ));
  }
.back-face {
  background: url(/Assets/Images/Backgrounds/MainBG2.jpg);
  background-size: cover;
  /* background-color: red; */
  /* color: #4099FF; */
  transform: rotateY(180deg) translateZ(var(--translateZ));
}
.top-face {
  background: url(/Assets/Images/JDLogo.png);
  background-size: cover;
  background-color: #171717;
  /* color: #4099FF; */
  transform: rotateX(90deg) translateZ(var(--translateZ));
}
.right-face {
  background: url(/Assets/Images/Backgrounds/MainBG1.jpg);
  background-size: cover;
  /* background-color: blue; */
  /* color: #4099FF; */
  transform: rotateY(90deg) translateZ(var(--translateZ));
}
.left-face {
  background: url(/Assets/Images/Backgrounds/MainBG1.jpg);
  background-size: cover;
  /* background-color: green; */
  /* color: #4099FF; */
  transform: rotateY(-90deg) translateZ(var(--translateZ));
}
.bottom-face {
  background: url(/Assets/Images/JDLogo.png);
  background-size: cover;
  background-color: #171717;
  transform: rotateX(-90deg) translateZ(var(--translateZ));
}


#back-face:checked ~ .cube-container .cube {
  transform: rotateY(180deg);
}
#left-face:checked ~ .cube-container .cube {
  transform: rotateY(90deg);
}
#right-face:checked ~ .cube-container .cube {
  transform: rotateY(-90deg);
}
#top-face:checked ~ .cube-container .cube {
  transform: rotateX(-90deg);
}
#bottom-face:checked ~ .cube-container .cube {
  transform: rotateX(90deg);
}
#front-face:checked ~ .cube-container .cube {
  transform: rotateX(-20deg) rotateY(20deg);
}
  
/*** ---------- TEST Buttons ---------- ***/
/*  Test Btn 1 */
.test-btn1 {
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid var(--main-bg-color);
  color: #fff;
  text-align: center;
  font-size: var(--small);
  padding: 6px 12px;
  width: 160px;
  height: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 36px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  overflow: hidden;
}
.test-btn1 ::after {
  content: '»';
  font-size: var(--medium);
  position: absolute;
  opacity: 0;  
  top: 0px;
  right: -20px;
  transition: 0.5s;
}
.test-btn1:hover {
  padding-right: 24px;
  padding-left:8px;
}
.test-btn1:hover span::after {
  opacity: 1;
  right: 16px;
}

/* Test Btn 2 */
.test-btn2 {
  text-align: center;
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: var(--main-accent-color);
  text-transform: capitalize;
  background-color: var(--main-bg-color);
  padding: 6px 12px;
  width: 160px;
  height: fit-content;
  margin: 36px;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.2s linear 0s;
  cursor: pointer;
  &:before {
      content: "\2193";
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: -20%;
      left: 0px;
      height: 120%;
      width: 30px;
      background-color: var(--shadow-color);
      border-radius: 0;
      transform: scale(0,1);
      transform-origin: left center;
      transition: all 0.2s linear 0s;
  }
  &:hover {
    text-indent: 30px;
    &:before {
      transform: scale(1,1);
      text-indent: 0;
    }
  }
}

/* ---------- TEST PAGES STYLES ---------- */

.test-header {
  z-index: 3;
}
.scroll-spacer, .scroll-spacer-index {
  height: 100vh;
  width: 100%;
  border: 4px solid red;
}


.social-container {
  position: relative;
  margin-block: 3em;
  width: 100%;
  height: 100%;
  outline: 1px solid green;
}
.trapdoor {
  position: absolute;
  margin-block: 5em;
  -webkit-transform: translateZ(0px);
  transform: translateZ(0px);
  -webkit-font-smoothing: antialiased;
  top: 50%;
  left: 50%;
  margin-left: -100px;
  margin-top: -25px;
  width: 200px;
  height: 50px;
  box-shadow: inset -7px 0px 12px -8px rgba(0,0,0,0.3), inset 7px 0px 12px -8px rgba(0,0,0,0.3);
  background: rgba(0,0,0,0.3);
  -webkit-transition: background 400ms ease-in-out;
  -moz-transition: background 400ms ease-in-out;
  -ms-transition: background 400ms ease-in-out;
  -o-transition: background 400ms ease-in-out;
  transition: background 400ms ease-in-out;
  
  &:hover {
    background: #fff;
    
    .door {
       box-shadow: 0px 0px 10px -2px rgba(0,0,0,0.4);
       -webkit-transform: scale(1.08);
       -moz-transform: scale(1.08);
       -ms-transform: scale(1.08);
       -o-transform: scale(1.08);
       transform: scale(1.08);
    }
   
    .top {
    top: -50%; 
    }
    
    .bottom {
    top: 100%; 
    }
  }
  
 .twitter-follow-button {
   margin-left: -77px;
   position: absolute !important;
   margin-top: -14px;
   left: 50%;
   top: 50%;
  }
}

.top {
  top: 0%;
  left: 0px;
  
  &:before {
    top: 5px;
  }
}

.bottom {
  top: 50%;
  left: 0px;
  
  &:before {
    top: -20px;
  }
}

.door {
  -webkit-transition: top 400ms, box-shadow 200ms, -webkit-transform 300ms;
  -moz-transition: top 400ms, box-shadow 200ms, -moz-transform 300ms;
  -ms-transition: top 400ms, box-shadow 200ms, -ms-transform 300ms;
  -o-transition: top 400ms, box-shadow 200ms, -o-transform 300ms;
  transition: top 400ms, box-shadow 200ms, transform 300ms;
  -webkit-transition-timing-function: ease-in-out;
  -moz-transition-timing-function: ease-in-out;
  -ms-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  background-color: #17171f;
  position: absolute;
  overflow: hidden;
  width: 100%;
  z-index: 2;
  height: 50%;
  
  &:before {
    font-family: 'tweet', sans-serif;
    position: absolute;
    margin-left: -20px;
    font-size: 35px;
    display: block;
    color: #4099FF;
    content: "\e000";
    width: 0px;
    height: 20px;
    left: 52%;
  }
}

@font-face {
  font-family: 'tweet';
  src: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/277/tweet.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}